
.header-section{
  .colud-icon{
    font-size: 50px;
  }
  .temperature{
    font-size: 50px
  }
  p{margin: 0;}
    .units{
      p{
        font-size: 20px;
        padding: 0 10px ;
        color: #d2d2cdb8;
        margin: 0 10px;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          top: 30%;
          left: 0;
          border: 1px solid white;
        }
      }
      .unit{
        color: white;
      }
     
    }
    .report, .date{
      color: #f0f0dbb8;
      font-size: 18px;
      
    }
  }
        